<html>
  <body>
    <center>
      <h1>B.O.L.T. Corp.</h1>
      <iframe width="300" height="30" src="http://{{my_ip}}/cgi-bin/date.sh" frameBorder="0"></iframe>
      <br />
      <br />
      <a href="/">Home</a>
      <a href="/hmi">HMI</a>
      <a href="/hpc">HPC</a>
      <a href="/notes">Notes</a>
      <a href="/inventory">Inventory</a>
      <a href="/fileshare">File Share</a>
      <a href="/helpdesk">Helpdesk</a>
      <a href="/WebIOPi">WebIOPi</a>
      <a href="/webmail">webmail</a>
      <a href="/accounts/logout/?next=/">Log Out</a>
    </center>
  </body>
</html>
